.art-img-container {
  display: grid;
  place-items: center;
  height: 450px;

  .art-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 400px;
  }

  @media (hover: hover) and (pointer: fine) {
    .art-img:hover {
      cursor: pointer;
      opacity: 0.3;
    }
  }
}

/* Code Credit
https://www.youtube.com/watch?v=J_litafaEvU&t=36s&ab_channel=Codingflag */
.cover-photo-form {
  width: 300px;
  padding: 20px;
  background: #fff;
  border: 2px dashed #555;

  input {
    display: none;
  }

  label {
    display: block;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    font-size: 15px;
  }

  .cover-photo-preview {
    width: 260px;
    height: 260px;
    object-fit: cover;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.good-score {
  color: green;
}

.okay-score {
  color: yellow;
}

.poor-score {
  color: red;
}
